{"TAPIR":
	{
		"repositories": {
			"REPO_NAME": {
				"name": "REPO FRIENDLY NAME",
				"description": "FRIENDLY REPO DESCRIPTION",
				"url": "REPO_URI",
				"credentials": "REPO_CREDENTAIL_SET"
			}
		},
		"credentials": {
			"REPO_CREDENTAIL_SET": {
				"type": "REPO_TYPE",
				"role": "REPO_ROLE",
				"path": "REPO_ROLE_PATH"
			}
		}
	},
	"REPO_ROLE":{
		"REPO_ROLE_PATH":{
			"CREDENTAILS KEYS TO CONNECT TO REPO GO HERE":""
		}
	}
}